.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.App {
  background-color: #fff;
  padding: 40px;
}

.error {
  color: #db2955;
  font-weight: 700;
}

/* User API Form */
.user-api-form .user-id,
.user-api-form .api-key {
  width: 300px;
}

.user-api-form .submit-wrapper {
  margin-top: 16px;
}

.user-api-form .label-container {
  display: flex;
  flex-direction: row;
}

.user-api-form .label {
  width: 80px;
}

.app-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.app-controls .date-header {
  color: #757575;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  margin-left: 12px;
}

/* Summary Section */
section {
  margin-top: 32px;
}

.section-header,
.section-header-title {
  align-items: center;
  display: flex;
}

.show-no-history {
  margin-left: 8px;
}

section h2 {
  margin-bottom: 8px;
  margin-top: 8px;
}

td {
  height: 100%;
  padding: 0;
}

th {
  text-align: left;
}

.dailys table,
.habits table,
.todos table {
  width: 100%;
}

.date {
  color: #757575;
}

.date-heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-weight: 400;
  justify-content: flex-end;
}

.link {
  color: #36b;
}

.link:hover,
.clickable:hover,
.link:focus,
.clickable:focus {
  cursor: pointer;
}

/* Task */
.task-name-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-name {
  max-width: 400px;
  overflow: hidden;
  padding: 8px;
}

.task-name p {
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.habit-cell,
.daily-cell {
  width: 40px;
}

.habit-score-container {
  color: white;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-evenly;
}

.habit-score-container span {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
}

.habit-score-container .success + .fail {
  display: none;
}

/* Success/Fail Symbols */
.success {
  background-color: #24cc8f;
}

.fail {
  background-color: #db2955;
}

.pass,
.habit-cell {
  background-color: #ffdfae;
}

.pass .symbol {
  color: #ffbe5d;
}

.symbol {
  color: white;
}

body .daily-cell,
body .habit-score-container span,
body .symbol {
  font-weight: 700;
}

@media (max-width: 600px) {
  body,
  html {
    overflow-x: hidden;
  }

  div,
  span,
  body,
  body .task-name {
    font-size: 13px;
  }

  body .task-icon-container {
    height: 17px;
    width: 20px;
  }

  body .daily-cell,
  body .habit-score-container span,
  body .symbol {
    font-size: 12px;
  }

  body .habit-score-container,
  body .habit-score-container span {
    height: 30px;
  }

  .task-name p {
    max-width: 100px;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #000;
    color: #fff;
  }
}
